<h2 style='color:blue' align="center">Decision Tree Classification</h2>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C://Users//Asad Computrs//Downloads//weather.csv")
df.head()

    outlook temperature humidity  windy play
0  overcast         hot     high  False  yes
1  overcast        cool   normal   True  yes
2  overcast        mild     high   True  yes
3  overcast         hot   normal  False  yes
4     rainy        mild     high  False  yes

In [4]:
inputs = df.drop('play',axis='columns')

In [5]:
target = df['play']

In [6]:
from sklearn.preprocessing import LabelEncoder
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [8]:
inputs['outlook_n'] = le_company.fit_transform(inputs['outlook'])
inputs['tem_n'] = le_job.fit_transform(inputs['temperature'])
inputs['hum_n'] = le_degree.fit_transform(inputs['humidity'])
inputs['wind_n'] = le_degree.fit_transform(inputs['windy'])

In [9]:
inputs

     outlook temperature humidity  windy  outlook_n  tem_n  hum_n  wind_n
0   overcast         hot     high  False          0      1      0       0
1   overcast        cool   normal   True          0      0      1       1
2   overcast        mild     high   True          0      2      0       1
3   overcast         hot   normal  False          0      1      1       0
4      rainy        mild     high  False          1      2      0       0
5      rainy        cool   normal  False          1      0      1       0
6      rainy        cool   normal   True          1      0      1       1
7      rainy        mild   normal  False          1      2      1       0
8      rainy        mild     high   True          1      2      0       1
9      sunny         hot     high  False          2      1      0       0
10     sunny         hot     high   True          2      1      0       1
11     sunny        mild     high  False          2      2      0       0
12     sunny        cool   normal  False          2      0      1       0
13     sunny        mild   normal   True          2      2      1       1

In [10]:
inputs_n = inputs.drop(['outlook','temperature','humidity', 'windy'],axis='columns')

In [11]:
inputs_n

    outlook_n  tem_n  hum_n  wind_n
0           0      1      0       0
1           0      0      1       1
2           0      2      0       1
3           0      1      1       0
4           1      2      0       0
5           1      0      1       0
6           1      0      1       1
7           1      2      1       0
8           1      2      0       1
9           2      1      0       0
10          2      1      0       1
11          2      2      0       0
12          2      0      1       0
13          2      2      1       1

In [12]:
target

0     yes
1     yes
2     yes
3     yes
4     yes
5     yes
6      no
7     yes
8      no
9      no
10     no
11     no
12    yes
13    yes
Name: play, dtype: object

In [13]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [14]:
model.fit(inputs_n, target)

DecisionTreeClassifier()

In [15]:
model.score(inputs_n,target)

1.0

**Is salary of Google, Computer Engineer, Bachelors degree > 100 k ?**

In [17]:
model.predict([[0,1,0,0]])

C:\Users\Asad Computrs\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['yes'], dtype=object)

**Is salary of Google, Computer Engineer, Masters degree > 100 k ?**

In [18]:
model.predict([[0,1,0,0]])

C:\Users\Asad Computrs\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['yes'], dtype=object)